/* Internal-Nested Flexbox only for a, div, li, ul*/
/* Row */

.sb-nested-flex-row-wrap > a, .sb-nested-flex-row-wrap > div, .sb-nested-flex-row-wrap > li, .sb-nested-flex-row-wrap > ul  {
    display: flex;
    flex-flow: row wrap;
}

.sb-nested-flex-row-nowrap > a, .sb-nested-flex-row-nowrap > div, .sb-nested-flex-row-nowrap > li, .sb-nested-flex-row-nowrap > ul  {
    display: flex;
    flex-flow: row nowrap;
}

.sb-nested-flex-reverse-row-wrap > a, .sb-nested-flex-reverse-row-wrap > div, .sb-nested-flex-reverse-row-wrap > li, .sb-nested-flex-reverse-row-wrap > ul  {
    display: flex;
    flex-flow: row-reverse wrap;
}

.sb-nested-flex-reverse-row-nowrap > a, .sb-nested-flex-reverse-row-nowrap > div, .sb-nested-flex-reverse-row-nowrap > ul, .sb-nested-flex-reverse-row-nowrap >li {
    display: flex;
    flex-flow: row-reverse nowrap;
}

/* Column */

.sb-nested-flex-column-wrap > a, .sb-nested-flex-column-wrap > div, .sb-nested-flex-column-wrap > li, .sb-nested-flex-column-wrap > ul  {
    display: flex;
    flex-flow: column wrap;
}

.sb-nested-flex-column-nowrap > a , .sb-nested-flex-column-nowrap > div, .sb-nested-flex-column-nowrap > li, .sb-nested-flex-column-nowrap > ul  {
    display: flex;
    flex-flow: column nowrap;
}

.sb-nested-flex-reverse-column-wrap > a, .sb-nested-flex-reverse-column-wrap > div, .sb-nested-flex-reverse-column-wrap > li, .sb-nested-flex-reverse-column-wrap > ul  {
    display: flex;
    flex-flow: column-reverse wrap;
}

.sb-nested-flex-reverse-column-nowrap > a, .sb-nested-flex-reverse-column-nowrap > div, .sb-nested-flex-reverse-column-nowrap > li, .sb-nested-flex-reverse-column-nowrap > ul  {
    display: flex;
    flex-flow: column-reverse nowrap;
}

/* Inline */

.sb-nested-flex-inline > a, .sb-nested-flex-inline > div, .sb-nested-flex-inline > li, .sb-nested-flex-inline > ul  {
    display: inline-flex; /* Important not necessary if this rule is inserted after the previous eight */
}

/* Reverse Wrap */

.sb-nested-flex-inline > a, .sb-nested-flex-inline > div, .sb-nested-flex-inline > li, .sb-nested-flex-inline > ul  {
    flex-wrap: wrap-reverse; /* Important not necessary if this rule is inserted after the previous eight */
}


/*********************************************************************************************************************************/


/* Flexbox container rules */
/* Flex Row */

/* Following rules are more important than nested one so I wrote them later */

.sb-flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.sb-flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.sb-flex-reverse-row-wrap {
    display: flex;
    flex-flow: row-reverse wrap;
}

.sb-flex-reverse-row-nowrap {
    display: flex;
    flex-flow: row-reverse nowrap;
}

/* Flex Column */

.sb-flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
}

.sb-flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

.sb-flex-reverse-column-wrap {
    display: flex;
    flex-flow: column-reverse wrap;
}

.sb-flex-reverse-column-nowrap {
    display: flex;
    flex-flow: column-reverse nowrap;
}

/* Flex Inline */

.sb-flex-inline {
    display: inline-flex; /* Important not necessary if this rule is inserted after the previous eight */
}

/* Reverse Wrap */

.sb-flex-reverse-wrap {
    flex-wrap: wrap-reverse; /* Important not necessary if this rule is inserted after the previous eight */
}


/*********************************************************************************************************************************/


/* Order Utility */

.sb-first-item {
    order: -1000000;
}

.sb-last-item {
    order: 1000000;
}


/*********************************************************************************************************************************/


/* Justify Content Utility */

.sb-jc-flex-start {
    justify-content: flex-start;
}

.sb-jc-flex-end {
    justify-content: flex-end;
}

.sb-jc-center {
    justify-content: center;
}

.sb-jc-space-bn {
    justify-content: space-between;
}

.sb-jc-space-ad {
    justify-content: space-around;
}

.sb-jc-initial {
    justify-content: initial;
}

.sb-jc-inherit {
    justify-content: inherit;
}

/* Justify Content for Nested Flexbox Utility */

.sb-nested-jc-flex-start > a, .sb-nested-jc-flex-start > div, .sb-nested-jc-flex-start > li, .sb-nested-jc-flex-start > ul {
    justify-content: flex-start;
}

.sb-nested-jc-flex-end > a, .sb-nested-jc-flex-end > div, .sb-nested-jc-flex-end > li, .sb-nested-jc-flex-end > ul {
    justify-content: flex-end;
}

.sb-nested-jc-center > a, .sb-nested-jc-center > div, .sb-nested-jc-center > li, .sb-nested-jc-center > ul {
    justify-content: center;
}

.sb-nested-jc-space-bn > a, .sb-nested-jc-space-bn > div, .sb-nested-jc-fspace-bn > li, .sb-nested-jc-space-bn > ul {
    justify-content: space-between;
}

.sb-nested-jc-space-ad > a, .sb-nested-jc-space-ad > div, .sb-nested-jc-space-ad > li, .sb-nested-jc-space-ad > ul {
    justify-content: space-around;
}

.sb-nested-jc-initial > a, .sb-nested-jc-initial > div, .sb-nested-jc-initial > li, .sb-nested-jc-initial > ul {
    justify-content: initial;
}

.sb-nested-jc-inherit > a, .sb-nested-jc-inherit > div, .sb-nested-jc-inherit > li, .sb-nested-jc-inherit > ul {
    justify-content: inherit;
}


/*********************************************************************************************************************************/


/* Align Items Utility */

.sb-ai-stretch {
    align-items: stretch;
}

.sb-ai-center {
    align-items: center;
}

.sb-ai-flex-start {
    align-items: flex-start;
}

.sb-ai-flex-end {
    align-items: flex-end;
}

.sb-ai-baseline {
    align-items: baseline;
}

.sb-ai-initial {
    align-items: initial;
}

.sb-ai-inherit {
    align-items: inherit;
}

/* Align Items for Nested Flexbox Utility */

.sb-ai-stretch > a, .sb-ai-stretch > div, .sb-ai-stretch > li, .sb-ai-stretch > ul {
    align-items: stretch;
}

.sb-ai-center > a, .sb-ai-center > div, .sb-ai-center > li, .sb-ai-center > ul {
    align-items: center;
}

.sb-ai-flex-start > a, .sb-ai-flex-start > div, .sb-ai-flex-start > li, .sb-ai-flex-start > ul {
    align-items: flex-start;
}

.sb-ai-flex-end > a, .sb-ai-flex-end > div, .sb-ai-flex-end > li, .sb-ai-flex-end > ul {
    align-items: flex-end;
}

.sb-ai-baseline > a, .sb-ai-baseline > div, .sb-ai-baseline > li, .sb-ai-baseline > ul {
    align-items: baseline;
}

.sb-ai-initial > a, .sb-ai-initial > div, .sb-ai-initial > li, .sb-ai-initial > ul {
    align-items: initial;
}

.sb-ai-inherit > a, .sb-ai-inherit .sb-ai-inherit .sb-ai-inherit {
    align-items: inherit;
}


/*********************************************************************************************************************************/


/* Align Content Utility */

.sb-ac-stretch {
    align-content: stretch;
}

.sb-ac-center {
    align-content: center;
}

.sb-ac-flex-start {
    align-content: flex-start;
}

.sb-ac-flex-end {
    align-content: flex-end;
}

.sb-ac-space-bn {
    align-content: space-between;
}

.sb-ac-space-ad {
    align-content: space-around;
}

.sb-ac-initial {
    align-content: initial;
}

.sb-ac-inherit {
    align-content: inherit;
}

/* Align Content for Nested Flexbox Utility */

.sb-ac-stretch > a, .sb-ac-stretch > div, .sb-ac-stretch > li, .sb-ac-stretch > ul {
    align-content: stretch;
}

.sb-ac-center > a, .sb-ac-center > div, .sb-ac-center > li, .sb-ac-center > ul {
    align-content: center;
}

.sb-ac-flex-start > a, .sb-ac-flex-start > div, .sb-ac-flex-start > li, .sb-ac-flex-start > ul {
    align-content: flex-start;
}

.sb-ac-flex-end > a, .sb-ac-flex-end > div, .sb-ac-flex-end > li, .sb-ac-flex-end > ul {
    align-content: flex-end;
}

.sb-ac-space-bn > a, .sb-ac-space-bn > div, .sb-ac-space-bn > li, .sb-ac-space-bn > ul {
    align-content: space-between;
}

.sb-ac-space-ad > a, .sb-ac-space-ad > div, .sb-ac-space-ad > li, .sb-ac-space-ad > ul {
    align-content: space-around;
}

.sb-ac-initial > a, .sb-ac-initial > div, .sb-ac-initial > li, .sb-ac-initial > ul {
    align-content: initial;
}

.sb-ac-inherit > a, .sb-ac-inherit .sb-ac-inherit .sb-ac-inherit {
    align-content: inherit;
}


/*********************************************************************************************************************************/


/* Align Self Utility */

.sb-as-auto {
    align-self: auto;
}

.sb-as-stretch {
    align-self: stretch;
}

.sb-as-center {
    align-self: center;
}

.sb-as-flex-start {
    align-self: flex-start;
}

.sb-as-flex-end {
    align-self: flex-end;
}

.sb-as-baseline {
    align-self: baseline;
}

.sb-as-initial {
    align-self: initial;
}

.sb-as-inherit {
    align-self: inherit;
}



/*********************************************************************************************************************************/



/* Flex Grow - Flex Shrink and Flex Basis Utility */ 


/* --------------------------------------- Items width with grow = 1 ----------------------------------------------*/
.sb-each-item-is-100-percent > *, .sb-each-item-is-a-hundred-percent > * {
    flex: 1 1 100%;
}

.sb-each-item-is-90-percent > * {
    flex: 1 1 90%;
}

.sb-each-item-is-80-percent > * {
    flex: 1 1 80%;
}

.sb-each-item-is-70-percent > * {
    flex: 1 1 70%;
}

.sb-each-item-is-60-percent > * {
    flex: 1 1 60%;
}

.sb-each-item-is-50-percent > *, .sb-each-item-a-half-percent > * {
    flex: 1 1 50%;
}

.sb-each-item-is-40-percent > * {
    flex: 1 1 40%;
}

.sb-each-item-is-one-third-percent > * {
    flex: 1 1 33.3333%;
}

.sb-each-item-is-30-percent > * {
    flex: 1 1 30%;
}

.sb-each-item-is-25-percent > *, .sb-each-item-is-a-quarter-percent > * {
    flex: 1 1 25%;
}

.sb-each-item-is-20-percent > *, .sb-each-item-is-a-fifth-percent > * {
    flex: 1 1 20%;
}

.sb-each-item-is-a-sixth-percent > * {
    flex: 1 1 16.6666%;
}

.sb-each-item-is-a-seventh-percent > * {
    flex: 1 1 14.2857%;
}

.sb-each-item-is-an-eighth-percent > * {
    flex: 1 1 12.50%;
}

.sb-each-item-is-a-ninth-percent > * {
    flex: 1 1 11.11%;
}

.sb-each-item-is-10-percent > *, .sb-each-item-is-a-tenth-percent > * {
    flex: 1 1 10%;
}

/* ---------------------------------- Same but with Grow = 0 -------------------------------------------- */

.sb-each-item-is-100-percent-no-grow > *, .sb-each-item-is-a-hundred-percent-no-grow > * {
    flex: 0 1 100%;
}

.sb-each-item-is-90-percent-no-grow > * {
    flex: 0 1 90%;
}

.sb-each-item-is-80-percent-no-grow > * {
    flex: 0 1 80%;
}

.sb-each-item-is-70-percent-no-grow > * {
    flex: 0 1 70%;
}

.sb-each-item-is-60-percent-no-grow > * {
    flex: 0 1 60%;
}

.sb-each-item-is-50-percent-no-grow > *, .sb-each-item-a-half-percent-no-grow > * {
    flex: 0 1 50%;
}

.sb-each-item-is-40-percent-no-grow > * {
    flex: 0 1 40%;
}

.sb-each-item-is-one-third-percent-no-grow > * {
    flex: 0 1 33.3333%;
}

.sb-each-item-is-30-percent-no-grow > * {
    flex: 0 1 30%;
}

.sb-each-item-is-25-percent-no-grow > *, .sb-each-item-is-a-quarter-percent-no-grow > * {
    flex: 0 1 25%;
}

.sb-each-item-is-20-percent-no-grow > *, .sb-each-item-is-a-fifth-percent-no-grow > * {
    flex: 0 1 20%;
}

.sb-each-item-is-a-sixth-percent-no-grow > * {
    flex: 0 1 16.6666%;
}

.sb-each-item-is-a-seventh-percent-no-grow > * {
    flex: 0 1 14.2857%;
}

.sb-each-item-is-an-eighth-percent-no-grow > * {
    flex: 0 1 12.50%;
}

.sb-each-item-is-a-ninth-percent-no-grow > * {
    flex: 0 1 11.11%;
}

.sb-each-item-is-10-percent-no-grow > *, .sb-each-item-is-a-tenth-percent-no-grow > * {
    flex: 0 1 10%;
}



/*********************************************************************************************************************************/



/* Set Flex Basis for an item */

.sb-flex-basis-is-100-percent, .sb-flex-basis-is-a-hundred-percent {
    flex-basis: 100%;
}

.sb-flex-basis-is-90-percent {
    flex-basis: 90%;
}

.sb-flex-basis-is-80-percent {
    flex-basis: 80%;
}

.sb-flex-basis-is-70-percent {
    flex-basis: 70%;
}

.sb-flex-basis-is-60-percent {
    flex-basis: 60%;
}

.sb-flex-basis-is-50-percent, .sb-flex-basis-a-half-percent {
    flex-basis: 50%;
}

.sb-flex-basis-is-40-percent {
    flex-basis: 40%;
}

.sb-flex-basis-is-one-third-percent {
    flex-basis: 33.3333%;
}

.sb-flex-basis-is-30-percent {
    flex-basis: 30%;
}

.sb-flex-basis-is-25-percent, .sb-flex-basis-is-a-quarter-percent {
    flex-basis: 25%;
}

.sb-flex-basis-is-20-percent, .sb-flex-basis-is-a-fifth-percent {
    flex-basis: 20%;
}

.sb-flex-basis-is-a-sixth-percent {
    flex-basis: 16.6666%;
}

.sb-flex-basis-is-a-seventh-percent {
    flex-basis: 14.2857%;
}

.sb-flex-basis-is-an-eighth-percent {
    flex-basis: 12.50%;
}

.sb-flex-basis-is-a-ninth-percent {
    flex-basis: 11.11%;
}

.sb-flex-basis-is-10-percent,  .sb-flex-basis-is-a-tenth-percent {
    flex-basis: 10%;
}

/* Set Flex Grow for an item*/

.sb-flex-grow-0 {
    flex-grow: 0;
}

.sb-flex-grow-1 {
    flex-grow: 1;
}

.sb-flex-grow-2 {
    flex-grow: 2;
}

.sb-flex-grow-3 {
    flex-grow: 3;
}

.sb-flex-grow-4 {
    flex-grow: 4;
}

.sb-flex-grow-5 {
    flex-grow: 5;
}

.sb-flex-grow-6 {
    flex-grow: 6;
}

.sb-flex-grow-7 {
    flex-grow: 7;
}

.sb-flex-grow-8 {
    flex-grow: 8;
}

.sb-flex-grow-9 {
    flex-grow: 9;
}

.sb-flex-grow-10 {
    flex-grow: 10;
}


/* Set Flex Shrink for an item*/

.sb-flex-shrink-0 {
    flex-shrink: 0;
}

.sb-flex-shrink-1 {
    flex-shrink: 1;
}

.sb-flex-shrink-2 {
    flex-shrink: 2;
}

.sb-flex-shrink-3 {
    flex-shrink: 3;
}

.sb-flex-shrink-4 {
    flex-shrink: 4;
}

.sb-flex-shrink-5 {
    flex-shrink: 5;
}

.sb-flex-shrink-6 {
    flex-shrink: 6;
}

.sb-flex-shrink-7 {
    flex-shrink: 7;
}

.sb-flex-shrink-8 {
    flex-shrink: 8;
}

.sb-flex-shrink-9 {
    flex-shrink: 9;
}

.sb-flex-shrink-10 {
    flex-shrink: 10;
}