/*
    * Align Item */ 


a.sb-ai-stretch,
div.sb-ai-stretch,
li.sb-ai-stretch,
ul.sb-ai-stretch 
    align-items: stretch

a.sb-ai-center,
div.sb-ai-center,
li.sb-ai-center,
ul.sb-ai-center 
    align-items: center

a.sb-ai-flex-start,
div.sb-ai-flex-start,
li.sb-ai-flex-start,
ul.sb-ai-flex-start
    align-items: flex-start 

a.sb-ai-flex-end,
div.sb-ai-flex-end,
li.sb-ai-flex-end,
ul.sb-ai-flex-end
    align-items: flex-end

a.sb-ai-baseline,
div.sb-ai-baseline,
li.sb-ai-baseline,
ul.sb-ai-baseline
    align-items: baseline

a.sb-ai-initial,
div.sb-ai-initial,
li.sb-ai-initial,
ul.sb-ai-initial
    align-items: initial
    
a.sb-ai-inherit, 
div.sb-ai-inherit,
li.sb-ai-inherit,
ul.sb-ai-inherit
    align-items: inherit
