/*
    * Align Content */
    
a.sb-ac-stretch,
div.sb-ac-stretch,
li.sb-ac-stretch,
ul.sb-ac-stretch 
    align-content: stretch

a.sb-ac-center,
div.sb-ac-center,
li.sb-ac-center,
ul.sb-ac-center 
    align-content: center

a.sb-ac-flex-start,
div.sb-ac-flex-start,
li.sb-ac-flex-start,
ul.sb-ac-flex-start
    align-content: flex-start

a.sb-ac-flex-end,
div.sb-ac-flex-end,
li.sb-ac-flex-end,
ul.sb-ac-flex-end
    align-content: flex-end

a.sb-ac-space-bn,
div.sb-ac-space-bn,
li.sb-ac-space-bn,
ul.sb-ac-space-bn
    align-content: space-between

a.sb-ac-space-ad,
div.sb-ac-space-ad,
li.sb-ac-space-ad,
ul.sb-ac-space-ad
    align-content: space-around
    
a.sb-ac-initial, 
div.sb-ac-initial,
li.sb-ac-initial,
ul.sb-ac-initial
    align-content: initial

a.sb-ac-inherit, 
div.sb-ac-inherit,
li.sb-ac-inherit,
ul.sb-ac-inherit
    align-content: inherit

