/*
    * Justify Content */

a.sb-jc-flex-start,
div.sb-jc-flex-start,
li.sb-jc-flex-start,
ul.sb-jc-flex-start 
    justify-content: flex-start 

a.sb-jc-flex-end,
div.sb-jc-flex-end,
li.sb-jc-flex-end,
ul.sb-jc-flex-end 
    justify-content: flex-end

a.sb-jc-center,
div.sb-jc-center,
li.sb-jc-center,
ul.sb-jc-center
    justify-content: center 

a.sb-jc-space-bn,
div.sb-jc-space-bn,
li.sb-jc-space-bn,
ul.sb-jc-space-bn
    justify-content: space-between

a.sb-jc-space-ad,
div.sb-jc-space-ad,
li.sb-jc-space-ad,
ul.sb--jc-space-ad
    justify-content: space-around

a.sb-jc-initial,
div.sb-jc-initial,
li.sb--jc-initial,
ul.sb-jc-initial
    justify-content: initial
    
a.sb-jc-inherit, 
div.sb-jc-inherit,
li.sb-jc-inherit,
ul.sb-jc-inherit
    justify-content: inherit

