/* As you can see all flexbox work is done by Strawberry; here there is only some style for elements */

body {
  font-family: sans-serif;
  background-image: linear-gradient(-17deg, #ef5350 0%, #6abf69 100%);
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  padding-top: 30px;
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width:100%;
  display: block;
  margin-bottom: 30px;
}

.arrow {
  font-size: 2.5em;
}

a {
  color:white;
  text-decoration: none;
  padding: 15px 5px;
}

a:hover {
  background:rgba(0,0,0,0.6);
}


.slider-nav ul {
  list-style: none;
  background: #6abf69;
  border: 2px solid #388e3c;
}

.slider-nav li {
  min-height: 50px;
}

.slider-nav a {
  text-align: center;
}