/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Flex Row */
.sb-nested-flex-row-wrap > * {
  display: flex;
  flex-flow: row wrap;
}

.sb-nested-flex-row-nowrap > * {
  display: flex;
  flex-flow: row nowrap;
}

.sb-nested-flex-rev-row-wrap > * {
  display: flex;
  flex-flow: row-reverse wrap;
}

.sb-nested-flex-rev-row-nowrap > * {
  display: flex;
  flex-flow: row-reverse nowrap;
}

/* Flex Column */
.sb-nested-flex-col-wrap > * {
  display: flex;
  flex-flow: column wrap;
}

.sb-nested-flex-col-nowrap > * {
  display: flex;
  flex-flow: column nowrap;
}

.sb-nested-flex-rev-col-wrap > * {
  display: flex;
  flex-flow: column-reverse wrap;
}

.sb-nested-flex-rev-col-nowrap > * {
  display: flex;
  flex-flow: column-reverse nowrap;
}

/* Flex Inline | Reverse Wrap */
.sb-nested-flex-inline > * {
  display: inline-flex;
}

.sb-nested-flex-rev-wrap > * {
  flex-wrap: wrap-reverse;
}

/* All Centered */
.sb-nested-all-is-centered > * {
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Align Item */
.sb-nested-ai-stretch > * {
  align-items: stretch;
}

.sb-nested-ai-center > * {
  align-items: center;
}

.sb-nested-ai-flex-start > * {
  align-items: flex-start;
}

.sb-nested-ai-flex-end > * {
  align-items: flex-end;
}

.sb-nested-ai-baseline > * {
  align-items: baseline;
}

.sb-nested-ai-initial > * {
  align-items: initial;
}

.sb-nested-ai-inherit > * {
  align-items: inherit;
}

/* Align Content */
.sb-nested-ac-stretch > * {
  align-content: stretch;
}

.sb-nested-ac-center > * {
  align-content: center;
}

.sb-nested-ac-flex-start > * {
  align-content: flex-start;
}

.sb-nested-ac-flex-end > * {
  align-content: flex-end;
}

.sb-nested-ac-space-bn > * {
  align-content: space-between;
}

.sb-nested-ac-space-ad > * {
  align-content: space-around;
}

.sb-nested-ac-initial > * {
  align-content: initial;
}

.sb-nested-ac-inherit > * {
  align-content: inherit;
}

/* Justify Content */
.sb-nested-jc-flex-start > * {
  justify-content: flex-start;
}

.sb-nested-jc-flex-end > * {
  justify-content: flex-end;
}

.sb-nested-jc-center > * {
  justify-content: center;
}

.sb-nested-jc-space-bn > * {
  justify-content: space-between;
}

.sb-nested-jc-space-ad > * {
  justify-content: space-around;
}

.sb-nested-jc-initial > * {
  justify-content: initial;
}

.sb-nested-jc-inherit > * {
  justify-content: inherit;
}

/* Flex Row */
.sb-flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.sb-flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.sb-flex-rev-row-wrap {
  display: flex;
  flex-flow: row-reverse wrap;
}

.sb-flex-rev-row-nowrap {
  display: flex;
  flex-flow: row-reverse nowrap;
}

/* Flex Column */
.sb-flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}

.sb-flex-col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

.sb-flex-rev-col-wrap {
  display: flex;
  flex-flow: column-reverse wrap;
}

.sb-flex-rev-col-nowrap {
  display: flex;
  flex-flow: column-reverse nowrap;
}

/* Flex Inline | Reverse Wrap */
.sb-flex-inline {
  display: inline-flex;
}

.sb-flex-rev-wrap {
  flex-wrap: wrap-reverse;
}

/* All Centered */
.sb-all-is-centered {
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Align Item */
.sb-ai-stretch {
  align-items: stretch;
}

.sb-ai-center {
  align-items: center;
}

.sb-ai-flex-start {
  align-items: flex-start;
}

.sb-ai-flex-end {
  align-items: flex-end;
}

.sb-ai-baseline {
  align-items: baseline;
}

.sb-ai-initial {
  align-items: initial;
}

.sb-ai-inherit {
  align-items: inherit;
}

/* Align Content */
.sb-ac-stretch {
  align-content: stretch;
}

.sb-ac-center {
  align-content: center;
}

.sb-ac-flex-start {
  align-content: flex-start;
}

.sb-ac-flex-end {
  align-content: flex-end;
}

.sb-ac-space-bn {
  align-content: space-between;
}

.sb-ac-space-ad {
  align-content: space-around;
}

.sb-ac-initial {
  align-content: initial;
}

.sb-ac-inherit {
  align-content: inherit;
}

/* Justify Content */
.sb-jc-flex-start {
  justify-content: flex-start;
}

.sb-jc-flex-end {
  justify-content: flex-end;
}

.sb-jc-center {
  justify-content: center;
}

.sb-jc-space-bn {
  justify-content: space-between;
}

.sb-jc-space-ad {
  justify-content: space-around;
}

.sb-jc-initial {
  justify-content: initial;
}

.sb-jc-inherit {
  justify-content: inherit;
}

/* Order */
.sb-first-item {
  order: -1000000;
}

.sb-last-item {
  order: 1000000;
}

/* Align Self */
.sb-as-auto {
  align-self: auto;
}

.sb-as-stretch {
  align-self: stretch;
}

.sb-as-center {
  align-self: center;
}

.sb-as-flex-start {
  align-self: flex-start;
}

.sb-as-flex-end {
  align-self: flex-end;
}

.sb-as-baseline {
  align-self: baseline;
}

.sb-as-initial {
  align-self: initial;
}

.sb-as-inherit {
  align-self: inherit;
}

/* ------------------------------------
 * Flex Grow - Flex Shrink - Flex Basis 
 * ------------------------------------ */
/*
 *
 * Flex Grow 1 Flex Shrink 1 */
.sb-each-item-100 > * {
  flex: 1 1 100%;
}

.sb-each-item-90 > * {
  flex: 1 1 90%;
}

.sb-each-item-80 > * {
  flex: 1 1 80%;
}

.sb-each-item-70 > * {
  flex: 1 1 70%;
}

.sb-each-item-60 > * {
  flex: 1 1 60%;
}

.sb-each-item-50 > * {
  flex: 1 1 50%;
}

.sb-each-item-40 > * {
  flex: 1 1 40%;
}

.sb-each-item-30 > * {
  flex: 1 1 30%;
}

.sb-each-item-20 > * {
  flex: 1 1 20%;
}

.sb-each-item-10 > * {
  flex: 1 1 10%;
}

.sb-each-item-third > * {
  flex: 1 1 33.3333%;
}

.sb-each-item-quarter > * {
  flex: 1 1 25%;
}

.sb-each-item-sixth > * {
  flex: 1 1 16.6666%;
}

.sb-each-item-seventh > * {
  flex: 1 1 14.2857%;
}

.sb-each-item-eighth > * {
  flex: 1 1 12.5%;
}

.sb-each-item-ninth > * {
  flex: 1 1 11.1111%;
}

/*
 *
 * Flex Grow 0 Flex Shrink 1 */
.sb-each-item-100-nog > * {
  flex: 0 1 100%;
}

.sb-each-item-90-nog > * {
  flex: 0 1 90%;
}

.sb-each-item-80-nog > * {
  flex: 0 1 80%;
}

.sb-each-item-70-nog > * {
  flex: 0 1 70%;
}

.sb-each-item-60-nog > * {
  flex: 0 1 60%;
}

.sb-each-item-50-nog > * {
  flex: 0 1 50%;
}

.sb-each-item-40-nog > * {
  flex: 0 1 40%;
}

.sb-each-item-30-nog > * {
  flex: 0 1 30%;
}

.sb-each-item-20-nog > * {
  flex: 0 1 20%;
}

.sb-each-item-10-nog > * {
  flex: 0 1 10%;
}

.sb-each-item-third-nog > * {
  flex: 0 1 33.3333%;
}

.sb-each-item-quarter-nog > * {
  flex: 0 1 25%;
}

.sb-each-item-sixth-nog > * {
  flex: 0 1 16.6666%;
}

.sb-each-item-seventh-nog > * {
  flex: 0 1 14.2857%;
}

.sb-each-item-eighth-nog > * {
  flex: 0 1 12.5%;
}

.sb-each-item-ninth-nog > * {
  flex: 0 1 11.1111%;
}

/*
 *
 * Flex Grow 1 Flex Shrink 0 */
.sb-each-item-100-nos > * {
  flex: 1 0 100%;
}

.sb-each-item-90-nos > * {
  flex: 1 0 90%;
}

.sb-each-item-80-nos > * {
  flex: 1 0 80%;
}

.sb-each-item-70-nos > * {
  flex: 1 0 70%;
}

.sb-each-item-60-nos > * {
  flex: 1 0 60%;
}

.sb-each-item-50-nos > * {
  flex: 1 0 50%;
}

.sb-each-item-40-nos > * {
  flex: 1 0 40%;
}

.sb-each-item-30-nos > * {
  flex: 1 0 30%;
}

.sb-each-item-20-nos > * {
  flex: 1 0 20%;
}

.sb-each-item-10-nos > * {
  flex: 1 0 10%;
}

.sb-each-item-third-nos > * {
  flex: 1 0 33.3333%;
}

.sb-each-item-quarter-nos > * {
  flex: 1 0 25%;
}

.sb-each-item-sixth-nos > * {
  flex: 1 0 16.6666%;
}

.sb-each-item-seventh-nos > * {
  flex: 1 0 14.2857%;
}

.sb-each-item-eighth-nos > * {
  flex: 1 0 12.5%;
}

.sb-each-item-ninth-nos > * {
  flex: 1 0 11.1111%;
}

/*
 *
 * Flex Grow 0 Flex Shrink 0 */
.sb-each-item-100-nogs > * {
  flex: 0 0 100%;
}

.sb-each-item-90-nogs > * {
  flex: 0 0 90%;
}

.sb-each-item-80-nogs > * {
  flex: 0 0 80%;
}

.sb-each-item-70-nogs > * {
  flex: 0 0 70%;
}

.sb-each-item-60-nogs > * {
  flex: 0 0 60%;
}

.sb-each-item-50-nogs > * {
  flex: 0 0 50%;
}

.sb-each-item-40-nogs > * {
  flex: 0 0 40%;
}

.sb-each-item-30-nogs > * {
  flex: 0 0 30%;
}

.sb-each-item-20-nogs > * {
  flex: 0 0 20%;
}

.sb-each-item-10-nogs > * {
  flex: 0 0 10%;
}

.sb-each-item-third-nogs > * {
  flex: 0 0 33.3333%;
}

.sb-each-item-quarter-nogs > * {
  flex: 0 0 25%;
}

.sb-each-item-sixth-nogs > * {
  flex: 0 0 16.6666%;
}

.sb-each-item-seventh-nogs > * {
  flex: 0 0 14.2857%;
}

.sb-each-item-eighth-nogs > * {
  flex: 0 0 12.5%;
}

.sb-each-item-ninth-nogs > * {
  flex: 0 0 11.1111%;
}

/* ------------------------------------
 * Flex Grow - Flex Shrink - Flex Basis for a single Item
 * ------------------------------------ */
/*
 *
 * Flex Grow */
.sb-flex-grow-0 {
  flex-grow: 0;
}

.sb-flex-grow-1 {
  flex-grow: 1;
}

.sb-flex-grow-2 {
  flex-grow: 2;
}

.sb-flex-grow-3 {
  flex-grow: 3;
}

.sb-flex-grow-4 {
  flex-grow: 4;
}

.sb-flex-grow-5 {
  flex-grow: 5;
}

.sb-flex-grow-6 {
  flex-grow: 6;
}

.sb-flex-grow-7 {
  flex-grow: 7;
}

.sb-flex-grow-8 {
  flex-grow: 8;
}

.sb-flex-grow-9 {
  flex-grow: 9;
}

.sb-flex-grow-10 {
  flex-grow: 10;
}

/*
 *
 * Flex Shrink */
.sb-flex-shrink-0 {
  flex-shrink: 0;
}

.sb-flex-shrink-1 {
  flex-shrink: 1;
}

.sb-flex-shrink-2 {
  flex-shrink: 2;
}

.sb-flex-shrink-3 {
  flex-shrink: 3;
}

.sb-flex-shrink-4 {
  flex-shrink: 4;
}

.sb-flex-shrink-5 {
  flex-shrink: 5;
}

.sb-flex-shrink-6 {
  flex-shrink: 6;
}

.sb-flex-shrink-7 {
  flex-shrink: 7;
}

.sb-flex-shrink-8 {
  flex-shrink: 8;
}

.sb-flex-shrink-9 {
  flex-shrink: 9;
}

.sb-flex-shrink-10 {
  flex-shrink: 10;
}

/*
 *
 * Flex Basis */
.sb-flex-basis-100 {
  flex-basis: 100%;
}

.sb-flex-basis-90 {
  flex-basis: 90%;
}

.sb-flex-basis-80 {
  flex-basis: 80%;
}

.sb-flex-basis-70 {
  flex-basis: 70%;
}

.sb-flex-basis-60 {
  flex-basis: 60%;
}

.sb-flex-basis-50 {
  flex-basis: 50%;
}

.sb-flex-basis-40 {
  flex-basis: 40%;
}

.sb-flex-basis-30 {
  flex-basis: 30%;
}

.sb-flex-basis-20 {
  flex-basis: 20%;
}

.sb-flex-basis-10 {
  flex-basis: 10%;
}

.sb-flex-basis-third {
  flex-basis: 33.3333%;
}

.sb-flex-basis-quarter {
  flex-basis: 25%;
}

.sb-flex-basis-sixth {
  flex-basis: 16.6666%;
}

.sb-flex-basis-seventh {
  flex-basis: 14.2857%;
}

.sb-flex-basis-eighth {
  flex-basis: 12.5%;
}

.sb-flex-basis-ninth {
  flex-basis: 11.1111%;
}

/*# sourceMappingURL=strawberry.css.map */
