/*
    * Align Content */
    
.sb-n-ac-stretch > *
    align-content: stretch
    
.sb-n-ac-center > *
    align-content: center

.sb-n-ac-flex-start > *
    align-content: flex-start

.sb-n-ac-flex-end > *
    align-content: flex-end

.sb-n-ac-space-bn > *
    align-content: space-between

.sb-n-ac-space-ad > *
    align-content: space-around

.sb-n-ac-initial > *
    align-content: initial

.sb-n-ac-inherit > *
    align-content: inherit
