/*
    * Justify Content */
    
.sb-nested-jc-flex-start
    & > a,
    & > div,
    & > li,
    & > ul
        justify-content: flex-start 
    
.sb-nested-jc-flex-end
    & > a,
    & > div,
    & > li,
    & > ul
        justify-content: flex-end

.sb-nested-jc-center
    & > a,
    & > div,
    & > li,
    & > ul
        justify-content: center

.sb-nested-jc-space-bn
    & > a,
    & > div,
    & > li,
    & > ul
        justify-content: space-between 

.sb-nested-jc-space-ad
    & > a,
    & > div,
    & > li,
    & > ul
        justify-content: space-around

.sb-nested-jc-initial
    & > a,
    & > div,
    & > li,
    & > ul
        justify-content: initial

.sb-nested-jc-inherit
    & > a,
    & > div,
    & > li,
    & > ul
        justify-content: inherit
