/*
    * Align Item */

    
.sb-nested-ai-stretch > *
    align-items: stretch
    
.sb-nested-ai-center > *
    align-items: center

.sb-nested-ai-flex-start > *
    align-items: flex-start

.sb-nested-ai-flex-end > *
    align-items: flex-end

.sb-nested-ai-baseline > *
    align-items: baseline

.sb-nested-ai-initial > *
    align-items: initial

.sb-nested-ai-inherit > *
    align-items: inherit




